
.home{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d0bdf4;
   
}
.home_first{
    text-align: left;
    padding:60px;
    margin-top: 70px;
    
}
.home_first_h2{
    font-size: 36px;
    font-family: sans-serif;
}
.home_first_p{
    font-size: 60px;
    font-family: cursive;
}
.home_first_button{
    padding:7px 20px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color:#8458B3;
    border-radius: 4px;

}
.home_second{
    padding:50px;
    margin-top: 70px;
}

/* media query small screen */
@media all and (min-width:279px) and (max-width:480px){
    .home{
        display:grid;
        align-items: center;

    }
    .home_first{
        text-align: center;
        margin:auto;
        padding:20px;
        margin-top: 60px;
        
    }
    .home_first_h2{
        font-size: 23px;
        
    }
    .home_first_p{
        font-size: 40px;
        
    }
    .home_second{
        padding:20px;
        text-align: center;
        margin:auto;
        margin-top:60px;
        
    }
    

}

/* media query medium screen */
@media all and (min-width:481px) and (max-width:906px){
    .home{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        

    }
    .home_first{
        text-align: center;
        margin:auto;
        padding:20px;
        margin-top: 80px;
        
    }
    .home_first_h2{
        font-size: 30px;
        
    }
    .home_first_p{
        font-size: 45px;
        
    }
    .home_second{
        padding:20px;
        text-align: center;
        margin:auto;
        margin-top: 80px;
        
    }

}