

.skills{
    text-align: center;
    margin:auto;
    padding:30px;
    background-color: #d0bdf4;
}
.skills_box{
    width:75%;
    padding:20px;
    text-align: center;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    gap:30px;
}
#skills_box_child{
    padding:5px;
    background-color:#8458B3;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
#skills_box_child_img{
    width:50%;
    margin:auto;
}
#skills_box_child_img:hover{
    width:60%;
    margin:auto;
}
#skills_box_child_p{
    color:white;
    font-family:sans-serif;
    font-weight: bold;

}
.githubStat{
    width:90%;
    margin:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:20px;
    background-color: #8458B3;
    padding:20px;
}
.githubCalender{
    width:90%;
    margin:auto;
    padding:20px;
    background-color: #8458B3;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:30px;

}

/* media query small screen */
@media all and (min-width:279px) and (max-width:480px){
    .skills{
        padding:20px;
        
    }
    .skills_box{
        width:auto;
        margin:auto;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        gap:10px;
    }
    #skills_box_child_img{
        width:auto;
        margin:auto;
    }
    .githubStat{
        display:grid;
        gap:15px;
       
    }
    .githubCalender{
        display:grid;
        gap:15px;
        align-items: center;
        font-size: 10px;
    }

}

/* media query medium screen */
@media all and (min-width:481px) and (max-width:906px){
    .skills{
        padding:30px;
        
    }
    .skills_box{
        width:auto;
        margin:auto;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        gap:10px;
    }
    
    #skills_box_child_img{
        width:auto;
        margin:auto;
    }
    .githubStat{
        width:90%;
        margin:auto;
        display:grid;
        align-items: center;
        gap:15px;
        margin-top:15px;
       
    }
    .githubCalender{
        width:90%;
        margin:auto;
        display:grid;
        gap:15px;
        align-items: center;
        margin-top:20px;
        
    }
    
}